<div class="d-flex justify-content-center align-items-center login-container">
    <div class="login-content">
        <form [formGroup]="registerForm" (ngSubmit)="submitForm()" novalidate>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" formControlName="name"
                    [ngClass]="{'is-invalid': isFieldInvalid('name'), 'is-valid': isFieldValid('name')}">
                <div class="invalid-feedback" *ngIf="isFieldInvalid('name')">
                    Please enter a valid name.
                </div>
                <div class="valid-feedback" *ngIf="isFieldValid('name')">
                    Looks good!
                </div>
            </div>
    
            <div class="form-group">
                <label for="lastname">Lastname</label>
                <input type="text" class="form-control" id="lastname" formControlName="lastname"
                    [ngClass]="{'is-invalid': isFieldInvalid('lastname'), 'is-valid': isFieldValid('lastname')}">
                <div class="invalid-feedback" *ngIf="isFieldInvalid('lastname')">
                    Please enter a valid lastname.
                </div>
                <div class="valid-feedback" *ngIf="isFieldValid('lastname')">
                    Looks good!
                </div>
            </div>
    
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email"
                    [ngClass]="{'is-invalid': isFieldInvalid('email'), 'is-valid': isFieldValid('email')}">
                <div class="invalid-feedback" *ngIf="isFieldInvalid('email')">
                    Please enter a valid email.
                </div>
                <div class="valid-feedback" *ngIf="isFieldValid('email')">
                    Looks good!
                </div>
            </div>
    
            <div class="form-group">
                <label for="number">Number</label>
                <input type="text" class="form-control" id="number" formControlName="number"
                    [ngClass]="{'is-invalid': isFieldInvalid('number'), 'is-valid': isFieldValid('number')}">
                <div class="invalid-feedback" *ngIf="isFieldInvalid('number')">
                    Please enter a valid number.
                </div>
                <div class="valid-feedback" *ngIf="isFieldValid('number')">
                    Looks good!
                </div>
            </div>
    
            <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Submit</button>
        </form>
    </div>
</div>